#container
{
    width: 500px;
    height: 450px;
    border: 2px solid purple;
    margin: 50px auto;
}

h2
{
    text-align: center;
    color: purple;
}

#myVideo
{
    margin-left: 50px;
    border: 1px solid purple;
}

#abhi
{
    background: url(background.gif) no-repeat;
    width: 307px;
    height: 79px;
    margin: 20px auto;
    padding: 20px 0px 0px 4px;
}

#bs
{
    background: url(slider.gif) no-repeat;
    width: 289px;
    height: 29px;
    position: relative;
    left: 4px;
    top: 4px;
    border: none;
}

#bs .ui-slider-handle
{
    background: url(handle.gif) no-repeat;
    width: 24px;
    height: 26px;
    top: 1px;
    border: none;
}